$light-border: rgba(84, 84, 84, 0.48);
$text: rgba(255, 255, 255, 0.87);
$background-dark: #1a1a1a;
$background-light: #242424;

$primary: #6c73ff;

body {
    background-color: $background-dark;
    color: $text;
}
a {
    color: $text;
    text-decoration: none;
}

// layout styles
.root-layout {
    display: flex;
    flex-direction: column;

    // navbar container
    .navbar-container {
        padding: 0 10px;
        height: 60px;
        border-bottom: 1px solid $light-border;

        // navbar
        nav.navbar {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // left side of navbar
            .left {
                .logo {
                    font-weight: 500;
                    color: $primary;
                }
            }
            // right side of navbar
            .right {
                .auth-link {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .navbar-links {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .navbar-links-link {
                        font-weight: 500;
                        transition: all 0.2s;
                        font-size: 13px;
                        &:hover,
                        &.active {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

// form styles
.form-container {
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
    margin-top: 40px;
    padding: 20px;
    background-color: $background-light;
    border-radius: 5px;
    .form-header {
        padding-bottom: 20px;
        border-bottom: 1px solid $light-border;
        color: $primary;
    }
    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .field {
            display: flex;
            flex-direction: column;
            gap: 8px;
            label {
                text-transform: capitalize;
                font-size: 13px;
                font-weight: 500;
            }
            input {
                padding: 10px;
                background-color: $background-dark;
                border: 1px solid transparent;
                outline: none;
                border-radius: 5px;
                color: $text;
                transition: all 0.2s;
                &:hover {
                    border-color: lighten($color: $primary, $amount: 5);
                }
                &:focus {
                    border-color: $primary;
                }
                &::placeholder {
                    text-transform: capitalize;
                }
            }
        }
    }
}

// colored texts
.primary {
    color: $primary;
    font-size: 13px;
    font-weight: 500;
    &:hover {
        color: darken($color: $primary, $amount: 4);
    }
}

// buttons
button {
    padding: 10px;
    border-radius: 5px;
    color: $text;
    border: none;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    background-color: $primary;
    transition: all 0.2s;
    &:hover {
        background-color: darken($color: $primary, $amount: 4);
    }
}

button.btn-danger {
    background-color: $background-light;
    &:hover {
        background-color: lighten($color: $background-light, $amount: 4);
    }
}
